<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         executionOrder="depends,defects">
    <testsuites>
        <testsuite name="Unit">
            <directory>Tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>Classes</directory>
        </include>
    </source>
</phpunit>
